<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TelegramBotWinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TelegramBotWinForms.Properties.Settings>
            <setting name="BotApiKey" serializeAs="String">
                <value>6433582790:AAH9PaEHZ4zZ5_vpo5W0R1p3MWRds1Uyy-k</value>
            </setting>
        </TelegramBotWinForms.Properties.Settings>
    </userSettings>
</configuration>